# Core NLP
spacy==3.7.4
nltk==3.8.1

# PDF parsing
pdfplumber==0.10.3
PyMuPDF==1.23.26

# ML / Similarity
scikit-learn==1.4.0
numpy==1.26.4
pandas==2.2.0

# Visualization
matplotlib==3.8.2
wordcloud==1.9.3
plotly==5.18.0

# Web app
streamlit==1.31.0

# Utilities
python-dotenv==1.0.0
requests==2.31.0

huggingface_hub
